* {
  background: rgb(241, 209, 214);
  padding: 0%;
  margin: 0%;
}

.titulo,.titulo2 {
  width: 100%;
  font-size: 70px;
  text-align: center;
  background: grey;
  margin: 0px;
  color: aliceblue;
}

.conteiner {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
  gap: 40px;
}

.caja img,.cajaa img {
  width: 480px;
  height: 200px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px; 
}

.caja p {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

/*catalogo2*/


.conteiner2 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 50px;
  gap: 40px;
 
}

.b,p {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
p{
  background-color: aliceblue;
}

